.item-data {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.item-para {
    margin-left: 10px;
    width: 100px;
}

.color{
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 100%;
}
.quantity{
    padding-inline: 10px;
}
.quantity-icons{
    font-size: 16px;
    color: rgb(74, 74, 74);
    cursor: pointer;
}