.product-list-container{
    width: 80vw;
    margin: auto;
    margin-block: 40px;
}
@media screen and (min-width:0px) and (max-width:917px){
    .product-list-container{
        width: 96vw;
    }
}