#firstPart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 0px;
    position: relative;
}


@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}
.tracking-in-expand-fwd{animation:tracking-in-expand-fwd 1s cubic-bezier(.215,.61,.355,1.000) both}

#firstPart .content {
    width: 35%;
    margin-right: 5px;
}

.content p:first-child{
    color: #ca03ca;
}

.content h1 {
    font-size: 48px;
    line-height: 65px;
    font-weight: bold;
    color: #ff66ff;

}

.content p:nth-child(3){
    margin-top: 10px;
    line-height: 24px;
    text-align: justify;
}

.shop-btn{
    margin-top: 35px;
}

.shopping{
    width: 450px;
    height: 250px;
    border-radius: 5px;
}

@media screen and (min-width:0px) and (max-width:768px) {
    #firstPart {
        flex-direction: column;
        align-items: center;
        gap: 28px;

    }

    #firstPart .content {
        width: 90%;
        margin-right: 0px;
    }

    .shopping-pic{
        text-align: center;
    }

    .shopping {
        width: 80%;
        height: auto;
    }
}
